.app-layout {
  display: flex; /* Sidebar зліва, контент справа */
  min-height: 100vh;
}

.main-content {
  flex-grow: 1; /* Контент займає все місце, що залишилося */
  padding: 20px;
  background-color: #f4f4f9;
  color: #333;
}

/* Якщо ми на сторінці логіну (без Sidebar) */
.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
